@model School.Data.ViewModels.SkillsSuggestionsViewModel

@{
    ViewData["Title"] = "مواطن الضعف والقوة ";
}

 <a asp-controller="SkillsSuggestionss" asp-action="Create" asp-area="TeacherUsers" 
 asp-route-id="@Model.ClassID" >
 Create </a>

@if (Model.IsActive == true)
{
     
 
 <table id="myTable" class="table dt-responsive" >
    <thead class="thead_dark">
        <tr> 
          
            

             <th class="text-right">
                @Html.DisplayNameFor(model => model.SkillsSuggestions.Name)
            </th>  

              
             <th class="text-right">
                @Html.DisplayNameFor(model => model.SkillsSuggestions.SubjectId)
            </th> 
             <th class="text-right">
                @Html.DisplayNameFor(model => model.SkillsSuggestions.StudentId)
            </th>
          
 
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SkillsSuggestionsList) {
        <tr>
            <th class="text-right">
                <a asp-action="Edit" asp-controller="SkillsSuggestionss" asp-route-id="@item.Id">
                    Edit
                </a>
             </th>  
             <th class="text-right">
               @Html.DisplayFor(modelItem => item.Name)
            </th>  
         
            <th class="text-right">
                @Html.DisplayFor(modelItem => item.Subject.Name)
            </th> 
             <th class="text-right"> 
                @Html.DisplayFor(modelItem => item.Student.FullName)
            </th>
          
            
        </tr>
}
    </tbody>
</table>

}else{
    <p style="    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-top: 5cm;"> لا يوجد تقييمات لهذا الفصل الدراسي</p>
}
 