@model School.Data.ViewModels.StudentViewModel
@{
    ViewData["Title"] = "البيانات الأكاديمية ";
}

<link rel="stylesheet" href="~/assets/TFiles/css/TableListStyle.css" />
<link rel="stylesheet" href="~/css/GetAllMediaQuery.css" />

<style>
    .label-info {
        font-size: 18px;
        font-weight: 500;
    }

    .data-div {
        margin-top: 20px;
    }

    .data-span {
        font-size: 15px;
        color: #918282;
    }
</style>


<div class="row">
    <div class="col-md-12">
        <div style="text-align: right; color: #000; font-size: 22px; font-weight: 600; margin-bottom: 40px; border-bottom: 2px dashed ; padding-bottom: 10px;">
            <span>بيانات الطالب الأساسية </span>
        </div>
    </div>

    <div class="col-md-3 text-right">
        <div class="row">
            <div class="col-md-12">
                <span class="label-info">
                    الاسم بالكامل
                    <i class="fa-solid fa-signature"></i>
                </span>
            </div>
            <div class="col-md-12 data-div">
                <span class="data-span"> @Html.DisplayFor(d => d.Student.FullName) </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 text-right">
        <div class="row">
            <div class="col-md-12">
                <span class="label-info">
                    تاريخ الميلاد
                    <i class="fa-solid fa-cake-candles"></i>
                </span>
            </div>
            <div class="col-md-12 data-div">
                <span class="data-span"> @Html.DisplayFor(d => d.Student.DOP) </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 text-right">
        <div class="row">
            <div class="col-md-12">
                <span class="label-info">
                    رقم الهاتف
                    <i class="fa-solid fa-phone-flip"></i>
                </span>
            </div>
            <div class="col-md-12 data-div">
                <span class="data-span"> @Html.DisplayFor(d => d.Student.PhoneNumber) </span>
            </div>
        </div>
    </div>

    <div class="col-md-3 text-right">
        <div class="row">
            <div class="col-md-12">
                <span class="label-info">
                    البريد الالكتروني
                    <i class="fa-solid fa-envelope"></i>
                </span>

            </div>
            <div class="col-md-12 data-div">
                <span class="data-span"> @Html.DisplayFor(d => d.Student.EmailAddress) </span>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div style="text-align: right; color: #000; font-size: 22px; font-weight: 600; margin-bottom: 40px; border-bottom: 2px dashed; padding-bottom: 10px;margin-top:50px">
            <span>
                بيانات الطالب الأكاديمية
            </span>
        </div>
    </div>


    <div class="col-md-4 text-right">
        <div class="row">
            <div class="col-md-12">
                <span class="label-info">
                    الفصل الدراسي
                    <i class="fa-solid fa-calendar"></i>
                </span>
            </div>
            <div class="col-md-12 data-div">
                <span class="data-span"> @Html.DisplayFor(d => d.Student.Semester.Name)  </span>
            </div>
        </div>
    </div>



    <div class="col-md-4 text-right">
        <div class="row">
            <div class="col-md-12">
                <span class="label-info">
                    العام الدراسي
                    <i class="fa-solid fa-calendar-days"></i>
                </span>
            </div>
            <div class="col-md-12 data-div">
                <span class="data-span"> @Html.DisplayFor(d => d.Student.SchoolYear)</span>
            </div>
        </div>
    </div>


    <div class="col-md-4 text-right">
        <div class="row">
            <div class="col-md-12">
                <span class="label-info">
                    الصف الدراسي
                    <i class="fa-solid fa-landmark"></i>
                </span>
            </div>
            <div class="col-md-12 data-div">
                <span class="data-span">
                    @Html.DisplayFor(d => d.Student.Class.Name)
                </span>
            </div>
        </div>
    </div>




</div> 