@model School.Data.ViewModels.SubjectViewModel

@{
    ViewData["Title"] = "المواد الدراسية ";
}




<link rel="stylesheet" href="~/assets/TFiles/css/TableListStyle.css" />

<p class="text-right">
    <a class="btn btn-info" asp-action="Create" style="background-color: #4159AE;color:#fff;font-weight:500;">إنشاء مادة جديدة
        <i class="fa-solid fa-plus"></i>
    </a>
</p>
 

<table id="myTable" class="table dt-responsive  " style="width:100%">
    <thead class="thead_dark">
        <tr style=" background-color: #8c9cd0; border: 0px; color: #fff;">
            <th class="text-right">الإجراءات</th>


            <th class="text-right">
                مدرس المادة
            </th>
            <th class="text-right">
                الصف
            </th>
            <th class="text-right">
                اسم المادة
            </th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SubjectList)
        {
            <tr>

                <td class="text-right">

                    <div class="dropdown">
                        <button class="btn btn-secondary"
                                type="button"
                                id="dropdownMenuButton"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false" style="background-color: #fff;border:0px;">
                            <i class="fa-solid fa-ellipsis" style="color: #000;"></i>
                        </button>

                        <div class="dropdown-menu text-right"
                             aria-labelledby="dropdownMenuButton" style="">


                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">
                                تعديل
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">
                                عرض التفاصيل
                                <i class="fa-solid fa-list"></i>
                            </a>
                            <div class="dropdown-item" asp-action="Delete" asp-controller="Subjects" asp-route-id="@item.Id">
                                حذف المادة
                                <i class="fa-solid fa-trash"></i>
                            </div>

                        </div>
                    </div>
                </td>


                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Teacher.FirstName)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Class.Name)
                </td>

                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>



            </tr>
        }
    </tbody>
</table>



 
