@model School.Data.ViewModels.ClassViewModel

@{
    ViewData["Title"] = "الفصول الدراسية ";
    Layout = "_TeacherLayout";
}
<link rel="stylesheet" href="~/assets/TFiles/css/TableListStyle.css" />
<link rel="stylesheet" href="~/css/ClassesMediaQuery.css" />


<style>

    .card-style {
        margin-bottom: 30px;
        background: linear-gradient( rgb(113 165 255 / 0%) 100%, rgb(52 127 255)100%),url(https://localhost:44362/assets/TFiles/classroomupdated.jpeg);
        background-size: cover;
        height: 200px;
        border-bottom-left-radius: 70px;
    }

    .card:hover {
        opacity: 0.8 !important;
    }

    .card-info {
        color: #fff;
        padding: 3px;
        border-radius: 3px;
        margin-right: 15px;
        margin-bottom: 50px;
        padding-top: 15px;
    }

    .span-header {
        padding-left: 30px;
        padding-right: 10px;
        background-color: #1459AE;
        color: #fff;
        padding: 3px;
        border-radius: 3px;
    }

    .card-details {
        margin-top: 125px;
        color: #fff;
        padding: 3px;
        border-radius: 3px;
        margin-right: 15px;
        font-size: 11px;
        margin-bottom: 13px;
    }

    .small-info {
        background-color: #8c9cd0;
        color: #fff;
        padding: 3px;
        border-radius: 3px;
    }
</style>


@if (Model.IsActive == true)
{

    <div class="row" style="margin-top:-4.5rem !important ">
        <div class="col-12 text-right" style="margin-bottom: 50px;padding: 30px;
              background-color: #fff;box-shadow: rgb(0 0 0 / 10%) 0px 5px 12px;">
            <div style="color: #1459AE; font-weight: 700; font-size: 18px; margin-bottom: 35px; ">
                <span>
                    . مرحبا بك , في صفحة الفصول الدراسية الخاصة بك
                </span>
            </div>
            <div class="badge-title" style="">
                <span class="small-info ">
                    .  هذه الصفحة تعرض الفصول الدراسية المسجل بها مع التفاصيل الخاصة بكل صف
                </span>
            </div>
        </div>
    </div>
    <div class="row">

        @foreach (var item in Model.ClassList)
        {
            <div class="col-md-12">
                <a asp-action="specificClass" asp-controller="Classes" asp-route-id="@item.Id" style=" background: linear-gradient( rgb(113 165 255 / 0%) 100%, rgb(52 127 255)100%),url(~/assets/TFiles/img/classroomupdated.jpeg); ">
                    <div class="card card-style" style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <div class="card-info text-right ">
                                    <span class="span-header">اسم الصف  <strong> : @item.Name </strong></span>
                                </div>

                                <div class="card-details text-right">
                                    <small class="small-info">
                                        الرجاء الضغط على هذه الشريحة للعرض المزيد من التفاصيل الخاصة بالفصل الدراسي
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }

    </div>
}
else
{
    <p>غير مسجل في أي فصل دارسي </p>
}


<link rel="stylesheet" href="~/assets/TFiles/css/NavSidestyle.css" />




@*

    <a asp-controller="Classes" asp-action="FindStudent" asp-route-id="@item.Id" asp-area="TeacherUsers"  >عرض طلاب الفصل </a> |
                     <a asp-controller="Classes" asp-action="FindMark"    asp-route-id="@item.Id" asp-area="TeacherUsers">علامات الطلاب </a> |
                     <a asp-controller="Classes" asp-action="FindSkillsBehaviors" asp-route-id="@item.Id" asp-area="TeacherUsers">تقييمات  الفصل</a> |
                     <a asp-controller="Classes" asp-action="FindSkills"   asp-route-id="@item.Id" asp-area="TeacherUsers"> تقييمات سلوكية للطلاب </a>
*@