@model School.Data.ViewModels.ClassViewModel

@{
    ViewData["Title"] = "عرض المعلمين  ";
}

<link rel="stylesheet" href="~/assets/TFiles/css/TableListStyle.css" />

<div class="row" style="margin-top:-4.5rem !important ">
    <div class="col-12 text-right" style="margin-bottom: 50px;padding: 30px;
              background-color: #fff;box-shadow: rgb(0 0 0 / 10%) 0px 5px 12px;">
        <div style="color: #1459AE; font-weight: 700; font-size: 18px; margin-bottom: 35px; ">
            <span>
                هذه الصفحة تعرض معلمين  الصف  :     <strong>@Model.Class.Name</strong>
            </span>
        </div>
    </div>
</div>



@if (Model.IsActive == true)
{
    <table id="myTable" class="table dt-responsive  " style="width:100%">
        <thead class="thead_dark">
            <tr style=" background-color: #8c9cd0; border: 0px; color: #fff;">
                <th class="text-right">الإجراءات</th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Teacher.AppointmentYear)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Teacher.PhoneNumber)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Teacher.EmailAddress)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Teacher.FullName)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TeacherList)
            {
                <tr>
                    <td class="text-right">
                        <div class="dropdown">
                            <button class="btn btn-secondary"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false" style="background-color: #fff;border:0px;">
                                <i class="fa-solid fa-ellipsis" style="color: #000;"></i>
                            </button>

                            <div class="dropdown-menu text-right"
                                 aria-labelledby="dropdownMenuButton" style="">

                                <a class="dropdown-item" asp-controller="Teachers" asp-action="Details" asp-route-id="@item.Id" asp-area="Manger">تفاصيل المعلم </a>



                            </div>
                        </div>
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.AppointmentYear)
                    </td>
                    <td class="text-right">
                        @if (item.PhoneNumber != null)
                        {
                            @Html.DisplayFor(modelItem => item.PhoneNumber)

                        }
                        else
                        {
                            <p>غير متوفر</p>
                        }

                    </td>
                    <td class="text-right">
                        @if (item.EmailAddress != null)
                        {@Html.DisplayFor(modelItem => item.EmailAddress) }
                    else
                    {
                        <p>غير متوفر</p>
                    }

                    </td>

                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>لم يتم إضافة معلمين لهذا الفصل حتى الأن</p>
}