@model School.Data.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "صفحة الطلاب ";
}



<link rel="stylesheet" href="~/assets/TFiles/css/TableListStyle.css" />

<p class="text-right">
    <a class="btn btn-info" asp-action="Create" style="background-color: #4159AE;color:#fff;font-weight:500;">
        إضافة  طالب جديد
        <i class="fa-solid fa-plus"></i>
    </a>
</p>


@if (Model.IsActive == true)
{
    <div class="col-md-12" style="text-align:center; padding : 5px 5px 5px 5px">
        @using (Html.BeginForm("ExporDataToFile", "Students", FormMethod.Post))
        {
            <button id="btnExportData" type="submit" value="ExportData" name="action">
                <i class="fas fa-file-download">  تصدير </i>
            </button>

            <br />
            <br />


            <label>
                <input id="ExportPdf" name="Export" type="radio"
                       value="Pdf" />
                <i class="far fa-file-pdf"> Pdf تصدير الى </i>
            </label>
        }
    </div>
}




<table id="myTable" class="table dt-responsive  " style="width:100%">
    <thead class="thead_dark">
        <tr style=" background-color: #8c9cd0; border: 0px; color: #fff;">

            <th class="text-right">الإجراءات</th>

            <th class="text-right">
                @Html.DisplayNameFor(model => model.Student.Class)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Student.EmailAddress)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Student.PhoneNumber)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Student.FullName)
            </th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StudentList)
        {
            <tr>

                <td class="text-right">

                    <div class="dropdown">
                        <button class="btn btn-secondary"
                                type="button"
                                id="dropdownMenuButton"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false" style="background-color: #fff;border:0px;">
                            <i class="fa-solid fa-ellipsis" style="color: #000;"></i>
                        </button>

                        <div class="dropdown-menu text-right"
                             aria-labelledby="dropdownMenuButton" style="">
                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">
                                تعديل
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">
                                عرض التفاصيل
                                <i class="fa-solid fa-list"></i>
                            </a>
                            <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">
                                حذف
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </td>


                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Class.Name)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>


            </tr>
        }
    </tbody>
</table>


